
@{
    ViewData["Title"] = "Index";
}

<h2 id="testH2"></h2>
@if (TempData["user"] == null)
{

    @using (Html.BeginForm("Login", "WebPage", FormMethod.Post))
    {
        <input type="submit" value="Login" />

    }

    @using (Html.BeginForm("Register", "WebPage", FormMethod.Post))
    {
        <input type="submit" value="Register" />
    }
}
else { 

    <h2>Welcome @TempData["user"]</h2>

    @using (Html.BeginForm("SignOut", "WebPage", FormMethod.Post))
    { 

        <input type="submit" value="signout"/>
    }
}

<script>
    document.getById("testH2").innerHTML = "hello world";
</script>